body{
    font-family: 'Titillium Web', sans-serif;
}

/*
.navbar-nav{
   position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
}
*/

.navbar-nav{
    position: center;
    left: 50%;
}

.navbar-collapse {
    /*border: 1px solid red;*/
}

.navbar-toggler{
    border: 2px solid #007bff;
    position: absolute;
    left: 80%;
    
}

header {
    border: 1px solid #e3f2fd;
    margin-top: 50px;
}


#testimonial{
    background:  #e3f2fd;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#info-one{
    border: 1px solid#e3f2fd;
    padding-top: 50px ;
}

footer{
    background: url(../img/smartphones.png);
}
